<h1>THIS IS THE FAQ PAGE, PLEASE READ CAREFULLY</h1>
<p></p>
<ul>
  <li>QUESTION:</li>
  <li>QUESTION</li>
  <li>QUESTION</li>
  <li>QUESTION</li>
  <li>QUESTION</li>
</ul>

<%= link_to 'Get contact information', contact_path %>
<%= link_to 'Back to Home Page', home_path %>

<%= "Hello Philippe" %>

<%= "Hello Marcel" %>

